/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
}

/* 2. Content ================================= */

.slideshow {
	width: 100%;
	position: relative;
	
	img{
		width: 100%;
		opacity: 0;
		position: absolute;
		transition: opacity 1s ease-in-out;
	}
	
	img.show{
		opacity: 1;
	}
}

.buttons{
	position: relative;
	display: flex;
	justify-content: center;
	top: 600px;

	.next{
		margin-left: 50px;
	}
	
}
